body {
  margin: 0;
  box-sizing: border-box;
  font-family: "TwitterChirpExtendedHeavy", "Verdana", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: black;
  height: 100vh;
  backdrop-filter: blur(5px);
  --webkit-backdrop-filter: blur(5px);
}

html {
  margin: 0px;
  padding: 0px;
}

.main {
  display: flex;
  flex-direction: row;
  height: 100%;
}
