body {
  margin: 0;
  box-sizing: border-box;
  font-family: "TwitterChirpExtendedHeavy", "Verdana", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: black;
  height: 100vh;
  backdrop-filter: blur(5px);
  --webkit-backdrop-filter: blur(5px);
}

html {
  margin: 0px;
  padding: 0px;
}

.main {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.left {
  width: 56vw;
  background-image: url(https://abs.twimg.com/sticky/illustrations/lohp_en_1302x955.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.right {
  padding-left: 1.25em;
  padding-top: 1.25em;
  width: 44vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 1.5em;
}

.right-logo svg {
  display: block;
  height: 2.5em;
  margin: 0.625em;
}

.right-buttons {
  display: flex;
  flex-direction: column;
}

.signup-p,
.signup-p h6 {
  margin-top: 3px;
}
.left div svg {
  display: block;
  height: 12.5em;
  margin: 0 auto;
  padding-top: 12.5em;
}

h1,
h2,
h3,
p {
  color: #e7e9ea;
}

h6 {
  color: #1f2022;
}

h1 {
  font-size: 4em;
  font-weight: 700;
  letter-spacing: -1.2px;
  line-height: 84px;
}

h2 {
  font-size: 1.9375em;
}

.btn {
  text-decoration: none;
  border-radius: 1.25em;
  padding-top: 0.9375em;
  padding-bottom: 1.25em;
  font-weight: 700;
  font-size: 0.9375em;
  width: 18.75em;
  cursor: pointer;
}

.btn-white {
  background-color: #f7faff;
  border: 1px solid rgb(0, 0, 0);
  color: black;
  margin-bottom: 0.3125em;
}

.btn-blue {
  background-color: #1a8cd8;
  color: #e2f1fa;
  border: none;
}

.btn-black {
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(255, 247, 247);
  color: rgb(0, 44, 126);
}

#popup-sign {
  position: absolute;
  border: 0px solid black;
  box-sizing: border-box;
  display: none;
  position: fixed;
  z-index: 9;
  background-color: #af1515;
  width: 45vw;
  top: 124px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#popup-sign form h1 {
  font-size: 1.25em;
}

#popup-sign form button {
  margin: 5px;
}
#popup-next {
  position: absolute;
  border: 0px solid black;
  box-sizing: border-box;
  display: none;
  position: fixed;
  z-index: 9;
  background-color: #000000;
  width: 45vw;
  top: 124px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  padding: 15px;
}

.formLogHead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

form svg {
  display: block;
  height: 1.25em;
  margin: 0.625em;
}

.fa-times {
  color: #f7faff;
  display: block;
  height: 1.25em;
  margin: 0.625em;
  cursor: pointer;
}
input {
  text-decoration: none;
  border-radius: 1.25em;
  padding-top: 0.9375em;
  padding-bottom: 1.25em;
  font-weight: 700;
  font-size: 0.9375em;
  width: 18.75em;
}

.exit {
  font-weight: bolder;
  color: red;
  cursor: pointer;
}
